<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>TODO App</h1>
    </header>
    <hr />

    <main>
      <form action="/add-task" method="post">
        <!-- ||FORM DETAILS -->
        <!-- DESCRIPTION -->
        <div class="form-details description">
          <label>
            DESCRIPTION
            <br />
            <input
              type="text"
              name="description"
              placeholder="What do you need to do?"
              required
            />
          </label>
        </div>
        <hr />
        <!-- 2ND DETAILS ROW FLEX -->
        <div class="multi-field">
          <!-- CATEGORY -->
          <div class="form-details category">
            <label>
              CATEGORY
              <br />
              <select name="category" class="highlight">
                <option value="">Choose a category</option>
                <option value="personal">Personal</option>
                <option value="Work">Work</option>
                <option value="Web-Dev">Web-Dev</option>
                <option value="Shopping">Shopping</option>
                <option value="Others">Others</option>
              </select>
            </label>
          </div>
          <!-- DUE-DATE -->
          <div class="form-details due-date">
            <label for="due-date">
              DUE DATE
              <br />
              <input
                type="date"
                min="2022-01-01"
                max="2050-12-31"
                name="date"
                id="due-date"
                required
              />
            </label>
          </div>
        </div>
        <!-- INPUT FIELDS END -->

        <!-- BUTTONS -->
        <div class="btn-container">
          <div class="add-btn">
            <button type="submit">
              <i style="color: white" class="fa-solid fa-plus"></i>
              ADD TASK
            </button>
          </div>

          <div class="delete-btn">
            <button>
              <i style="color: white" class="fa-regular fa-trash-can"></i>
              DELETE TASK
            </button>
          </div>
        </div>
      </form>
      <!-- END OF FORM -->

      <ul>
        <li>
          <div class="task-card">
            <!-- card LEFT details -->
            <div class="left">
              <input type="checkbox" name="markDone" id="mark-done" />
              <label class="left-details" for="mark-done">
                <div style="padding-bottom: 5px">Task description</div>
                <small>
                  <i class="fa-solid fa-calendar-days"></i>
                  May 25, 2022
                </small>
              </label>
            </div>
            <!-- card RIGHT details -->
            <div class="right-details">
              <div class="cat-tag">PERSONAL</div>
            </div>
          </div>
        </li>
        <% for(let i of task_list) { %>
        <li>
          <div class="task-card">
            <!-- card LEFT details -->
            <div class="left">
              <input type="checkbox" name="markDone" id="mark-done" />
              <label class="left-details" for="mark-done">
                <div style="padding-bottom: 5px"><%= i.description %></div>
                <small>
                  <i class="fa-solid fa-calendar-days"></i>
                  <!-- May 25, 2022 -->
                  <%= new Date(i.date).toDateString() %>
                </small>
              </label>
            </div>
            <!-- card RIGHT details -->
            <div class="right-details">
              <% if(i.category) { %>
              <div class="cat-tag"><%= i.category %></div>
              <% } %>
            </div>
          </div>
        </li>
        <% } %>
      </ul>
    </main>

    <script
      src="https://kit.fontawesome.com/310b61f3af.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
